body{
    background-color: rgb(65, 65, 65);
}
.bolo4ok1{
    width: 900px;
    height: 120px;
    float: left;
    margin-left: 450px;
}

.block1{
    width: 360px;
    height: 40px;
    background: rgb(0, 0, 0);
}
.block2{
    width: 360px;
    height: 40px;
    background: rgb(2, 0, 97);
}
.block3{
    width: 360px;
    height: 40px;
    background: rgb(0, 195, 255);
}

.bolo4ok2{
    padding-top: 5;
    width: 2000px;
    height: 120px;
    float: left;
    
}

.main-block1{
    width: 120px;
    height: 40px;
    background: rgb(0, 0, 0);
    float: left; 
}

.main-block2{
    width: 120px;
    height: 40px;
    background: rgb(2, 0, 97);
    float: left;
}
.main-block3{
    width: 120px;
    height: 40px;
    background: rgb(0, 195, 255);
    float: left;
}
.main-block4{
    width: 360px;
    height: 40px;
    background: rgb(10, 8, 43);
    margin-top: 45;
}

.bolo4ok3{
    width: 2000px;
    height: 120px;
    float: left;
    margin-top: -40px;
}

.main-block5{
    width: 180px;
    height: 40px;
    background: rgb(255, 255, 255);
    float: left;
}
.main-block6{
    width: 180px;
    height: 40px;
    background: rgb(0, 0, 0);
    float: left;
}

.bolo4ok4{
    width: 360px;
    height: 160px;
    float: left;
    margin-top: -75px;
    background: rgb(255, 255, 255);
}

.main-block7{
    width: 110px;
    height: 150px;
    background: rgb(0, 0, 0);
    float: left;
    margin: 5px;
}
.main-block8{
    width: 110px;
    height: 150px;
    background: rgb(2, 0, 97);
    float: left;
    margin: 5px;
}
.main-block9{
    width: 110px;
    height: 150px;
    background: rgb(0, 195, 255);
    float: left;
    margin: 5px;
}